.page-container {
    width: 100%;
    height: 100%;
    background: white;
}

.container {
    min-height: 860px;
}

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.login {
    background: #ff6530; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #ff833c, #389837);
    background: -moz-linear-gradient(right, #ff833c, #389837);
    background: -o-linear-gradient(right, #ff833c, #389837);
    background: linear-gradient(to left, #ff833c, #389837);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.loginText {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form.form-compact {
    max-width: 360px;
}
.form input,
.form textarea,
.form select {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form input:disabled,
.form textarea:disabled,
.form select:disabled {
    background: #d9d9d9;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4a9349;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
    background: #389837;
}
button.btn-cancel  {
    background: #ff3333;
}
button.btn-cancel:hover , button.btn-cancel:active, button.btn-cancel:focus {
    background: #ff1a1a;
}
button.btn-pwd  {
    background: #ffcc00;
}
button.btn-pwd:hover , button.btn-pwd:active, button.btn-pwd:focus {
    background: #eabb00;
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .message a {
    color: #ec582a;
    text-decoration: none;
}
.form .register-form {
    display: none;
}

.form-style-2{
    max-width: 600px;
    padding: 20px 12px 10px 20px;
    font: 13px Arial, Helvetica, sans-serif;
    text-align: left;

}
.form-style-2-heading{
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    font-size: 15px;
    padding-bottom: 3px;
}
.form-style-2 label{
    display: block;
    margin: 0px 0px 15px 0px;
}
.form-style-2 label > span{
    width: 150px;
    font-weight: bold;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}
.form-style-2 span.required{
    color:red;
}
.form-style-2 .tel-number-field{
    width: 40px;
    text-align: center;
}
.form-style-2 input.input-field{
    width: 48%;

}

.form-style-2 input.input-field,
.form-style-2 .tel-number-field,
.form-style-2 .textarea-field,
.form-style-2 .select-field{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
}
.form-style-2 .input-field:focus,
.form-style-2 .tel-number-field:focus,
.form-style-2 .textarea-field:focus,
.form-style-2 .select-field:focus{
    border: 1px solid #FF8500;
}
.form-style-2 .textarea-field{
    height:100px;
    width: 55%;
}

.form-style-2 .error {
    background: rgba(209, 147, 146, 0.51);
}
.form-style-2 input[type=submit],
.form-style-2 input[type=button]{
    border: none;
    padding: 8px 15px 8px 15px;
    background: #FF8500;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.form-style-2 input[type=submit]:hover,
.form-style-2 input[type=button]:hover{
    background: #EA7B00;
    color: #fff;
}

.form-style-2 button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4a9349;
    width: 200px;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.form-style-2 button:hover,.form-style-2 button:active,.form-style-2 button:focus {
    background: #389837;
}

#authedNav {
    padding: 10px;
    border-radius: 0px;
}

.nav-item a {
    color: white;
    text-decoration: none;
}

.nav-item a:hover {
    color: #EE572B;
}

.nav-item-sub a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.nav-item-sub a:hover {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}

.container {
    padding: 10px;
}

.row-heading {
    font-weight: bold;
}

.clickable-icon {
    cursor: hand;
    cursor: pointer;
}

.user-name {
    font-size: 20px;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.row * {
    word-wrap: break-word;
}

.green-bg {
    background: #389837;
}

footer {
    color: white;
}

form.form input.auto-width {
    width: auto
}

i.visible-fa-eye {
    color: #36c;
}

i.fa-plus-square {
    color: #28a745;
}

.check-list {
    max-height: 700px;
    overflow-y:auto;
}

.check-list li {
    text-align: left;
    white-space:nowrap;
    list-style-type:none;
}

.check-list label {
    text-align: left;
    white-space:nowrap;
}

.check-list input:checked {
    background-color: #36c;
}

.btn-oc {
    background-color: #389837;
    color: #FFF;
}

.btn-oc:hover {
    background-color: #EE572B;
    color: #FFF;
}

.clickable-row {
    cursor: pointer;
    cursor: hand;
}

.horizontal-spacer {
    margin-left: 10px;
    margin-right: 10px;
}
