{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv='Content-Style-Type' content='text/css'/>
    <title>My Portal</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'js/common.js' %}"></script>
</head>

<body class="green-bg">
    {% if user.is_verified %}
        <nav class="navbar navbar-expand-lg green-bg" id="authedNav">
            <a class="navbar-brand" href="/">
                <img src="{% static 'images/presentation_logo.png' %}" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

            {% if user.partner_profile %}
                {% include 'nav/partners.html' %}
            {% else %}
                {% include 'nav/customers.html' %}
            {% endif %}

                </ul>
            </div>

            <div class="my-2 my-lg-0 nav-item" style="color: white">
                <small><a href="{% url 'account_home' %}">My Account</a> | </small>
                <small><a href="{% url 'logout' %}" >Logout</a></small>
            </div>
        </nav>
    {% endif %}

    <div class="page-container">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    {% if user.is_verified %}
        <footer class="green-bg">
            <div class="footer-copyright text-center py-3">© {% now "Y" %} Copyright OrderCounter.com</div>
        </footer>
    {% endif %}
</body>

</html>
